* {
  margin: 0;
  padding: 0;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
}

.main-class {
  width: 45%;
  float: left;
  padding: 10px;
}

button {
  background-color: blueviolet;
  padding: 10px 40px;
  color: #fff;
  font-size: 1rem;
  border-color: blueviolet;
  box-shadow: 2px 3px 5px black;
  border-radius: 4px;
}

/* Table */
table {
  width: 90%;
  text-align: center;
}

table,
th,
td {
  padding: 10px;
  border: 2px solid rgb(252, 253, 252);
  border-collapse: collapse;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  background-color: blueviolet;
  color: #fff;
  padding: 14px;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: blueviolet;
}

tr:nth-child(odd) {
  background-color: rgb(41, 6, 74);
}
